* {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
}
.links {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9cb52;
  border-radius: 40px 0 0 40px;
  padding: 20px;
}
.links a {
  color: black;
  text-decoration: none;
  /* color: #f9cb52; */
  font-size: 22px;
}
.links a:hover {
  color: #696030;
}
.logo img {
  padding-top: 5px;
  width: 70px;
  margin-left: 40px;
}
